body{
    text-align: center;
    
    
}
.header, .footer{
    height: 10vh;
    text-align: center;
}
.main{
    height: 70vh;
}

td{
    cursor:url(/assets/img/varinha.cur),auto;
    border: 1px solid black;
    width: 25px;
    height: 25px;
    text-align: center;
    
}

td:hover{
    background: orange;
}

table{
 display: flex;
 justify-content: center;

}


/*adcionando cursor*/



/*table {
 background-image: url('/assets/img/fundo.jpg');
  background-size: cover;
}*/
