/* VARIAVEIS */
:root{
    /* FONTES */
    --fontfamily-hp: 'Harry Potter', sans-serif;
    /* TAMANHOS */
    /* CORES */
    --ravenclaw-yellow: rgba(148, 107, 45, 0.6);
    --ravenclaw-blue: rgba(0, 10, 144, 0.6);
}

/* CONTAINER */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/bg-05.jpg");
    background-size: cover;
    color: white;
    font-family: var(--fontfamily-hp);
}

/* HEADER */
.header, .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
}
.header h1, .footer h3{
    background-color: var(--ravenclaw-yellow);
    text-align: center;
    width: 80vw;
    padding: 10px;
    border-radius: 15px;
}

/* MAIN */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80vw;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
}
/* IMAGEM */
.main a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
.main a:active{
    color: var(--ravenclaw-blue);
}
.main a:visited{
    color: var(--ravenclaw-yellow);
}
.main figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.main img{
    width: 50%;
    margin: 20px;
}

/* INPUTS */
.input{
    display: flex;
    flex-direction: row;
    padding: 5px;
}
.input input:nth-child(1){
    width: 50vw;
    outline: none;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 15px 0 0 15px;
}
.input input:nth-child(2){
    background-color: var(--ravenclaw-yellow);
    width: 20vw;
    font-family: var(--fontfamily-hp);
    color: white;
    padding: 5px;
    border: 2px solid black;
    border-radius: 0 15px 15px 0;
}
.input input:nth-child(2):active{
    background-color: var(--ravenclaw-blue);
}

/* BREAKPOINTS */
/* MEDIA QUERY 375px */
@media screen and (min-width: 375px) {
    .main img{
        width: 40%;
    }
}

/* MEDIA QUERY 768px */
@media screen and (min-width: 768px) {
    .header h1, .footer h3{
        width: 60vw;
    }
    .main{
        display: flex;
        flex-direction: row;
    }
    .main img{
        width: 60%;
    }
    .input input:nth-child(1){
        width: 30vw;
        padding: 5px 20px;
    }
    .input input:nth-child(2){
        width: 10vw;
    }
}

/* MEDIA QUERY 1000px */
@media screen and (min-width: 1000px){
    .header h1, .footer h3{
        width: 40vw;
    }
    .input input:nth-child(1){
        width: 20vw;
    }
    .input input:nth-child(2){
        width: 10vw;
    }
}