:root{
    /* CORES */
    
    /* FONTES */
    --fontfamily-header-footer: 'M PLUS 1', sans-serif;
    --fontfamily-hp: 'Harry Potter', sans-serif;
    /* TAMANHOS */
    --fontsize-header: 1.5em;
    --fontsize-footer: 1em;
}

/* HEADER */
.header, .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 10vh;
    font-family: var(--fontfamily-hp);
    font-size: var(--fontsize-header)
}

/* FOOTER */
.footer{
    font-size: var(--fontsize-footer)

}
/* MAIN */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fontfamily-hp);
    height: 80vh;
}
.main p{
    margin: 10px;
}

/* CAÇA PALAVRAS */
.cacapalavras{
    display: flex;
}

/* IMAGEM LATERAL */
.imagem figcaption{
    display: none;
}

/* TABELA */
.table{
    border: 10px solid green;
    margin: 10px;
}
.table td{
    border: 1px solid blue;
    width: 50px;
    height: 50px;
    text-align: center;
}
.table td:hover{
    background-color: orange;
    cursor: pointer;
}

