:root{
    /* FONTES */
    --fontfamily-hp: 'Harry Potter', sans-serif;
    /* CORES */

    /* TAMANHOS */
    --fontsize-header: 40px;
    --fontsize-footer: 20px;
}

/* CONTAINER */
.container{
    background-image: url("../img/bg-castle.png");
    background-size: cover;
    font-family: var(--fontfamily-hp);
    color: white;
    /* padding: 35px 0; */
}

/* HEADER */
.header, .footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 10vh;
    font-size: var(--fontsize-header);
}
.footer{
    font-size: var(--fontsize-footer);
}

/* MAIN */
.main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    width: 80vw;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    margin: 0 auto;
}

.main__img img{
    width: 40px;
    margin: 20px;
}
.main__results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main__results span{
    margin: 10px;
}
.main__results div{
    margin: 10px;
}
